
.enter {
  display: none;
}

.page-header {
  background-color: black;
  color: white;
  margin: 0;
}

.nav {
  padding-top: 35%;
  padding-bottom: 45%;
}

.nav {
  background-size: contain;
    }

.h1, h1 {
  margin-top: 0;
  margin-bottom: 10px;
    }

.btn-default {
  background-color: black;
  color: white;
    }

.enterbutton {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
}

.searchbutton {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 30%;
  margin-left: -45px;
}


.btn-group-lg {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -45px;
}

#searchResults {
  padding-top: 25px;
    }

#aplayer {
  padding-top: 25px;
}

#playlist {
  display: none;
}


@media only screen
  and (min-device-width: 568px)
  and (max-device-width: 2500px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      background: url("../pics/tie_dye2.jpg");
      background-size: 100%;
    }
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background: url("../pics/tie_dye1.jpg");
        background-size: 50%;
    }
}
